<!--
=====================================================
; Title: Assignment 1.5 Components
; Author: Professor Krasso
; Modified By: Tierre Green
; Date: August 2021
; Description: My Details
=====================================================
-->

<ul class="list-group">
    <li class="list-group-item"><strong>Full Name:</strong> Tierre Green</li>

    <li class="list-group-item"><strong>Favorite Food:</strong> Oranges</li>
    
    <li class="list-group-item"><strong>Favorite Color:</strong> Orange</li>
  </ul>
